#include "resource.h"

IDR_MYMENU MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "E&xit",ID_FILE_EXIT
		MENUITEM "&RED",ID_FILE_RED
		MENUITEM "&GREEN",ID_FILE_BLUE
		MENUITEM "&BLUE",ID_FILE_GREEN
		MENUITEM "&BLACK",ID_FILE_BLACK

	END

END

//IDI_MYICON ICON "menu_one.ico"
